@font-face {
  font-family: 'Font-title';
  src: url('../../fuentes/Wulkan-Display-Regular.otf') format('opentype'),
       url('../../fuentes/Wulkan-Display-Medium.otf') format('opentype');
  /* Asegúrate de especificar las rutas correctas a tus archivos de fuente */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Font-body';
  src: url('../../fuentes/HankenGrotesk-Regular.ttf') format('truetype'),
       url('../../fuentes/HankenGrotesk-Medium.ttf') format('truetype');
  /* Asegúrate de especificar las rutas correctas a tus archivos de fuente */
  font-weight: normal;
  font-style: normal;
}

h4 {
 font-family: 'Font-title';
}
  
.container-about-main {
  height: 100%;
  width: 100%; /* Ancho del contenedor */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  background-color: #f2e3d6; /* Color de fondo */
  border-radius: 3%;
  font-family: 'Font-body'; /* Usa el nombre de la fuente que especificaste en @font-face */
}


.about-aside-container {
  right: 0; /* Ajusta la posición horizontal en el lado derecho */
  height: 100%; /* Asigna la altura completa de la ventana */
  background-color: #f0f0f0; /* Color de fondo del aside */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  background-color: #f2e3d6; /* Color de fondo */
  width: 100%; /* Ancho del contenedor */
  border-radius: 4%;
}

 .footer-about {
  background-color: #8f8575;
  color: #fff;
  padding: 20px 0;
  width: 100%;
  position: bottom; 
  bottom: 0; 
  left: 0;
  padding: 2rem 0;
  margin-top: 4rem;
} 

.container-about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.about-page-container {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .about-page-container {
    flex-direction: column; /* Cambia la dirección a column para apilar los elementos */
  }

  .container-about-main, .about-aside-container {
    width: 100%; /* Cambia el ancho a 100% para ocupar toda la pantalla */
    max-width: none; /* Elimina el máximo ancho establecido */
    margin: 0; /* Elimina el margen */
  }
}

