@font-face {
  font-family: "Font-title";
  src: url("../../fuentes/Wulkan-Display-Regular.otf") format("opentype"),
    url("../../fuentes/Wulkan-Display-Medium.otf") format("opentype");
  /* Asegúrate de especificar las rutas correctas a tus archivos de fuente */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Font-body";
  src: url("../../fuentes/HankenGrotesk-Regular.ttf") format("truetype"),
    url("../../fuentes/HankenGrotesk-Medium.ttf") format("truetype");
  /* Asegúrate de especificar las rutas correctas a tus archivos de fuente */
  font-weight: normal;
  font-style: normal;
}

.bg-image {
  background-image: url('../../images/fondo_app_3.jpg');
  background-size: cover;
  /* Otros estilos */
}

h4 {
  font-family: "Font-title";
}

body {
  font-family: "Font-body";
}


.custom-first-row {
  font-family: "Font-body";
}






.footer-about {
  background-color: #8f8575;
  color: #fff;
  /* width: 100%; */
  position: bottom;
  bottom: 0;
  left: 0;
  /* margin-top: 4rem; */
}

/* .container-about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */

.container-footer-bot {
  /* margin: 1px; */
  background-color: #54574d;
  /* padding: 1px; */
}

